/* Start Global Value  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

:root{
  --mainColor: #3a6cf4;
  --secColor: #4c00ff;
  --trdColor: #2F3D7E;
}


*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
/* End Global Value  */

/* Start Header Styling  */
header {
  background-color: #f0f0f0;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

.logo {
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 800;
  color: var(--mainColor);
}

.navigation a {
  padding-left: 30px;
  text-decoration: none;
  color: var(--mainColor);
  font-weight: 600;
  font-size: 1.2em;
}

.navigation a:hover {
  color: var(--secColor);
}
/* End Header Styling  */

/* Start Main Section  */
  section {
    padding: 100px 200px;
  }

  .main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: url(image/clouds.jpg)  no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .main h2 {
    color: white;
    font-size: 1.6em;
    font-weight: 500;
  }

  .main h2 span {
    color: var(--trdColor);
    font-size: 3em;
    font-weight: 600;
  }

  .main h3 {
    color: white;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }

  .main .main-button {
    text-decoration: none;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    background-color: var(--trdColor);
    font-weight: 600;
    font-size: 1.1em;
    display: inline-block;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 40px;
    transition: 0.8s;
  }

  .main .main-button:hover {
    background-color: var(--mainColor);
    transform: scale(1.1);
  }

  .main .social a {
    font-size: 1.7em;
    margin-right: 30px;
    color: var(--trdColor);
  }
/* End Main Section  */

/* Start Second Section */
  .title{
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 30px;
    color: var(--mainColor);
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.content .card {
  background-color: white;
  width: 17.7em;
  box-shadow: 0 5px 25px rgba(1 1 1  / 15%);
  border-radius: 15px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s;
}
.cards .content .card:hover {
  transform: scale(1.1);
}

.icon {
  color: var(--mainColor);
  font-size: 8em;
  text-align: center;
}

.info {
  text-align: center;
}

.info h3 {
  color: var(--mainColor);
  font-size: 1.7em;
  font-weight: 700;
  margin: 10px;
}
/* Start Second Section */

/* Start Third section */
  .projects {
    background-color: #000016;
  }

  .projects .content {
    margin-top: 30px;
  }

  .project-card {
    background-color: white;
    border: 1px solid white;
    min-height: 14em;
    width: 17em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s;
  }

  .project-card:hover {
    transform: scale(1.1);
  }

  .project-img img {
    width: 100%;
  }

  .project-card:hover .project-img {
    opacity: 0.9;
  }

  .project-info{
    padding: 1em;
  }

  .project-category {
    font-size: 0.8em;
    color: #000;
  }

  .project-title {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 10px;
  }

  .project-title span {
    font-size: 15px;
  }

  .more-details {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--mainColor);
  }

  .more-details:hover {
    color: var(--secColor);
}
/* End Third section */

/* Start Last Section */
.contact .icon{
  font-size: 4.5em;
}

.contact .info h3 {
  color: #000;
}

.contact .info p {
  font-size: 1em;
}
/* End Last Section */

/* Start Footer  */
.footer {
  background-color: #000016;
  color: #fff;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span {
  color: var(--mainColor);
}

.footer .social a{
  font-size: 1.3em;
  padding: 0 12px 0 0;
  color: var(--mainColor);
}
/* End Footer */

/* Start Media */
@media (max-width:1023px){
  header{
      padding: 12px 20px;
  }

  .navigation a{
      padding-left: 10px;
  }

  .title{
      font-size: 1.8em;
  }

  section{
      padding: 80px 20px;
  }

  .main-content h2{
      font-size: 1em;
  }

  .main-content h3{
      font-size: 1.6em;
  }

  .content{
      flex-direction: column;
      align-items: center;
  }

}

@media (max-width:641px){
  body{
      font-size: 12px;
  }

  .main-content h2{
      font-size: 0.8em;
  }

  .main-content h3{
      font-size: 1.4em;
  }
}

@media (max-width:300px){
  body{
      font-size: 10px;
  }
}
/* End Media */
